.intro{
    background-color: red;
}

div{
    background-color: gray;
    font-size: 25px;
    margin: 15px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 5px 2px;
}

p::before{
    content: "🍄";
}
p::after{
    content: "🍃";
}

::placeholder{
    color: salmon;
}

p::first-letter{
    color:aliceblue;
}

div p:nth-child(1){
    background-color: blue;
     font-size: 25px;
     margin: 15px;
     padding: 20px;
     border-radius: 15px;
     box-shadow: 5px 5px 2px;
}

span:hover{
    color: yellow;
}

p:hover{
    background-color: white;
}

button{
    background-color: aquamarine;

}
button:hover{
    background-color: white;
    box-shadow: 19px 10px 5px;
}
